body {
  background-color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;

  &.loading {
    background-color: white;
  }
  .experiment {
    width: 100%;
    height: 100%;
  }
}

video {
  width: 200px;
  height: 200px;
  position: absolute;
}
